.nav-right {
  position: absolute;
  right: 8px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(80, 80, 80);
  display: flex;
}

.navbar li {
  margin: 0 10px;
}

.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.navbar li a:hover {
  background-color: rgb(100,100,100);
}

.navbar li.active a {
  background-color: rgb(100,100,100);
}

.footer {
  background-color: rgb(80, 80, 80);
  padding: 40px 0;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.footer-column {
  width: 30%;
  margin-bottom: 30px;
}

.footer-column h4 {
  margin-bottom: 15px;
}

.social-media a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #000;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom p {
  margin: 0;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.text-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  background-color: rgb(250, 250, 250);
  color: #333;
  padding: 5px 20px;
}